.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}


.App-link {
  color: #61dafb;
}

.App-header {
  padding-top: 100px;
  background-size: cover;
  background-image: url('../images/background.png');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.icon {
  width: 20%;
}

.btn-div {
  position: absolute; 
  bottom: 0;
  margin-bottom: 1rem;
}

.btn-scroll-down {
  background: transparent;
  border: 0px;
}

.btn-scroll-down:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 0px;
}

.cat-filter-container {
  padding: 5% 0% !important;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  height: 50rem;
}

.cat-filter {
  margin-bottom: 2%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  align-self: center;
}

.item-list-div {
  width: 50%;
  height: 100%;
  align-self: center;
}

.cat-search-menu {
  width: 100% !important;
  padding: 2% 2%;
  max-height: 12rem;
}

.scrolling-div {
  height: 8rem;
  overflow-y: scroll;
}

.close-btn {
  height: 2.4rem;
}

.page-btn-div {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.page-btn {
  margin: 0% 5%;
  width: 7rem;
}

.main-name-div {
  margin-bottom: 10%;
}

.main-name {
  font-size: 50px;
}

p {
  font-size: 25px;
}

.account-container {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-top: 10%;
}

.user-modal {
  width: 50%;
}