.true {
    background-color: #88BCFC;
}

.false {
    background-color: transparent;
}

.main-nav-item > .main-nav-link {
    line-height: 2;
    color: white !important;
    font-weight: 600;
}

.main-nav-item:hover {
    color: white;
}

.main-nav-item > .active {
    color: #88BCFC !important;
    background-color: white !important;
}

#basic-navbar-nav {
    padding: 1% 5%;
}

.name-brand {
    font-size: 30px;
    font-weight: 900;
    margin-left: 5%;
    color: white !important;
}

@media (max-width: 768px) {
    nav.navbar {
      background: #EEA6B1;
    }
  }